# ============================
# Application
# ============================
PORT=3000
NODE_ENV=development

# ============================
# Genesys Cloud
# ============================
GENESYS_REGION=

GENESYS_CLIENT_ID=

GENESYS_CLIENT_SECRET=